.wrapper {
  color: wheat;
  .save-post {
    text-align: center;
    width: 80px;
    padding: 5px;
    background-color: rgb(51, 52, 52);
    margin-top: 20px;
    margin-left: 40px;
    cursor: pointer;
    border-radius: 5px;
  }
}
