.wrapper{
    max-width: 100%;
    padding: 15px 40px;
    display: flex;
    flex-direction: column;

    .input{
        padding:10px;
        border-radius: 3px;
    }
    .textarea{
        padding:10px 10px 50px 10px;
        border-radius: 3px;
    }
}