.wrapper{
    max-width: 414px;
    color: wheat;
    font-size: 30px;
    background-color: rgb(33, 31, 31);
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 0;
    cursor: pointer;

}